<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle
        >{{ userName }}<br />
        {{ userEmail }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ body }}</p>
    </mat-card-content>
    <app-commenti [postId]="iDpost"></app-commenti>
    <!-- <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <input
            type="text"
            name="body"
            matInput
            #message
            maxlength="256"
            placeholder="Ex. I like your Post"
            ngModel
          />
          <button mat-raised-button color="primary" type="submit">Comment</button>
        </mat-form-field>
      </form> -->
  </mat-card>
</div>
