mat-form-field {
  margin-top: 8px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  width: 90%;
}
form {
  width: 600px;
  display: flex;
  flex-direction: column;
}

button {
  margin: 0 auto;
  width: 50%;
}

h2 {
  font-weight: bold;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
