<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list class="list" role="list">
      <mat-list-item
        class="user"
        role="listitem"
        routerLink="homeUser"
        [routerLinkActive]="'active'"
      >
        <mat-icon> home </mat-icon></mat-list-item
      >
      <mat-list-item
        class="prova"
        role="listitem"
        routerLink="posts"
        [routerLinkActive]="'active'"
        ><mat-icon
          ><span class="material-symbols-outlined"> post_add </span></mat-icon
        ></mat-list-item
      >
      <mat-list-item
        class="prova"
        role="listitem"
        routerLink="users"
        [routerLinkActive]="'active'"
        ><mat-icon
          ><span class="material-symbols-outlined"> group </span></mat-icon
        ></mat-list-item
      >
    </mat-list>
  </mat-drawer>
  <mat-drawer-content
    ><mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon> emoji_transportation </mat-icon>
      </button>
      <span>CityHarmony</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
