.example-container {
  height: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-drawer {
  width: 6%;
  text-align: center;
  height: 100%;
  /* background-color: rgb(125, 112, 238); */
  background-color: rgb(228, 201, 220);
}

.list {
  margin-top: 7.5px;
  width: 100%;
}

.active {
  /* background-color: lightgray; */
  background-color: rgb(163, 122, 151);
}

mat-toolbar {
  /* background-color: rgb(125, 112, 238); */
  background-color: rgb(228, 201, 220);
  position: fixed;
  z-index: 1000;
  width: 94.5%;
  top: 0;
}

mat-drawer .prova {
  margin-top: auto;
}

mat-drawer-content {
  margin-top: 65px;
}

@media only screen and (max-width: 850px) {
  mat-drawer {
    width: 16%;
  }
  mat-toolbar {
    width: 86%;
  }
  mat-drawer-content {
    margin-top: 57px;
  }
}
