.container {
  display: flex;
  margin-bottom: 40px;
}

mat-card {
  display: flex;
  margin: 0 auto;
  width: 60%;
}
mat-drawer {
  border-right: 0px;
  margin-top: 12px;
}

.photo {
  width: 80px;
  height: 103px;
  background-size: cover;
}
.cerchio {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.addUser {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.searchBar {
  width: 30%;
}
.search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.back {
  margin-left: 10px;
}

button {
  background-color: lightcoral;
  height: 32px;
}
mat-paginator {
  margin-bottom: 62px;
}

@media only screen and (max-width: 850px) {
  mat-card {
    width: 95%;
  }

  mat-card-title {
    font-size: 17px;
  }
  mat-card-subtitle {
    font-size: 11px;
  }
  .photo {
    width: 75px;
    height: 95px;
  }
  .searchBar {
    width: 90%;
  }
  .back {
    margin-bottom: 25px;
  }
}
