<form #Commentform="ngForm" (ngSubmit)="onSubmit(Commentform)">
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <input
      type="text"
      name="body"
      matInput
      #message
      maxlength="256"
      placeholder="Ex. I like your Post"
      ngModel
    />
    <!-- <button mat-raised-button color="primary" type="submit">Comment</button> -->
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      type="submit"
    >
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="commenti" *ngFor="let comments of comment">
  <!-- <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ comments.name }}</mat-card-title>
        <mat-card-subtitle>{{ comments.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ comments.body }}</p>
      </mat-card-content>
    </mat-card> -->

  <mat-card class="example-card">
    <mat-card-title>{{ comments.name }}</mat-card-title>
    <mat-card-subtitle>{{ comments.email }}</mat-card-subtitle>
    <p>{{ comments.body }}</p>
  </mat-card>
</div>

<h2>{{ noComment }}</h2>
